ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
bin/
obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog

DiscordModerationBot/bin/Debug/netcoreapp3.1/config.json
